body {
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    background-color: #f2f4f7;
}

a {
    text-decoration: none;
    color: #707070;
}

@media screen and (min-width: 750px) {
    html {
        font-size: 37.5px !important;
    }
}


.header {
    height: 2.133333rem;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
    line-height: 2.133333rem;
    font-size: 0.933333rem;
    color: #1c1c1c;
    background-color: #fff;
}

.header img{
    width: 0.5rem;
    height: 1rem;
    position: fixed;
    top: 0.566667rem;
    left: 0.933333rem;
}

.list{
    border-top: 1.533333rem solid rgb(243, 242, 242);
    height: 20.466667rem;
    border-bottom: 0.266667rem solid rgb(243, 242, 242);
}

.listb{
    height: calc(100% / 5);
    background-color: white;
    border-bottom: 0.026667rem solid darkgrey ;
}
.listb .listbl{
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
}
.listb .listbr{
    float: right;
    height: 100%;
    width: 50%;
    position: relative;
}
.listb .one{
    width: 2.533333rem;
    height:2.533333rem;
    position: absolute;
    top: 0.6rem;
    right: 1.8rem;;
}
.listb  .listbl>span{
    font-size: 0.926667rem;
    position: absolute;
    top: 1.2rem;
    left: 0.933333rem;
}
.listb  .listbr>span{
    font-size: 0.826667rem;
    position: absolute;
    top: 1.2rem;
    right: 1.933333rem;
}
.listb .tow{
    width: 0.5rem;
    height: 1rem;
    position: absolute;
    top: 1.226667rem;
    left: 8.906667rem;
}
