body {
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    background-color: #f2f4f7;
}

a {
    text-decoration: none;
    color: #707070;
}

@media screen and (min-width: 750px) {
    html {
        font-size: 37.5px !important;
    }
}

/* 头部样式 */
.warp {
    background-color: #fff;
    padding-bottom: 1.146667rem;
}
.header {
    height: 2.133333rem;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
    line-height: 2.133333rem;
    font-size: 0.933333rem;
    color: #1c1c1c;
}


.m{
    width: 200px;
    height: 20px;
    margin: 2px auto;
}





/* 底部样式 */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.933333rem;
    width: 100%;
    z-index: 99999;
    display: flex;
    padding: 0.533333rem;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.footer .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .item img {
    width: 1.04rem;
    height: 1.093333rem;
}

.footer .item p {
    font-size: 0.586667rem;
    color: #666666;
    margin-top: 0.266667rem;
}